/**
 *
 * CSS Materialpool Backend
 *
 */

img.materialpool-admin-autor-pic {
    max-width: 100px;
}

img.materialpool-admin-organisation-pic {
    max-width: 100px;
}

#material-screenshot {
    width: 400px;
    height: 300px;
    float: left;
    padding-right: 20px;
}

#generate-screenshot-container {
    float: left;
}

#s2id_pods-form-ui-pods-meta-material-autoren {
    min-width: 380px !important;
    width: 300px !important;
}

#s2id_pods-form-ui-pods-meta-material-organisation {
    min-width: 380px !important;
    width: 300px !important;
}

#s2id_pods-form-ui-pods-meta-material-schlagworte {
    min-width: 380px !important;
    width: 300px !important;
}

#s2id_pods-form-ui-pods-meta-material-werk {
    min-width: 380px !important;
    width: 300px !important;
}

#s2id_pods-form-ui-pods-meta-material-band {
    min-width: 380px !important;
    width: 300px !important;
}

#s2id_pods-form-ui-pods-meta-material-verweise {
    min-width: 380px !important;
    width: 300px !important;
}

#select2-results {
    min-width: 380px !important;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#pods-form-ui-pods-meta-material-kurzbeschreibung {
    min-height: 50px;
    font-family: inherit;
}